@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
} 

@layer 
 utilities {
  .bg-image-wrapper-md {
    width: 100vw;
  }
}

.bg-image-wrapper {
  position: fixed;
  opacity: 0.25;
  top: 0;
  left: 0;
  width: 1275px;
  height: 100vh;
}

.body-background {
  background-image: radial-gradient(rgba(217, 217, 217, 0.1) 1px, transparent 0);
  background-size: 50px 50px;
  width: 100vw;
  height: 100vh;
}
